@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");

@theme inline {
  --breakpoint-xxs: 320px;
  --breakpoint-xs: 425px;
  --font-primary: Aboreto, Afacad, sans-serif;
  --font-aboreto: Aboreto, serif;
  --font-afacad: Afacad, sans-serif;
  --color-primary-white: #ffffff;
  --color-primary-pink: #c57e81;
  --color-primary-brown: #5f5b52;
}

/* Base CSS Configuration */
@layer base {
  * {
    @apply box-border m-0 p-0;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-primary text-primary-brown bg-primary-white antialiased;
    min-width: 320px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-aboreto font-bold;
  }

  p,
  span,
  a,
  button {
    @apply font-afacad;
  }
}
